---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
"material/materialize"
;

nav ul a,
nav .brand-logo {
        color: #444;
}

p {
        line-height: 2rem;
}

.button-collapse {
        color: #26a69a;
}

.parallax-container {
        min-height: 380px;
        line-height: 0;
        height: auto;
        color: rgba(255,255,255,.9);
}
.parallax-container .section {
        width: 100%;
}

@media only screen and (max-width : 992px) {
        .parallax-container .section {
                position: absolute;
                top: 40%;
        }
        #index-banner .section {
                top: 10%;
        }
}

@media only screen and (max-width : 600px) {
        #index-banner .section {
                top: 0;
        }
}

.icon-block {
        padding: 0 15px;
}
.icon-block .material-icons {
        font-size: inherit;
}

footer.page-footer {
        margin: 0;
}

label.error{
  color: red;
  position: relative;
  top:0;
  left:0;
}

.valign-wrapper div.l3{
  padding: 5px 20px;
}

.brand-logo img{
  height: 64px;
}

// team images
/* Caption Style 5 */
#team figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

#team figure:hover img{
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
}

#team figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

#team figure:hover figcaption{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

#team figure a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

//general
#team figure {
  margin: 0;
  position: relative;
}

#team figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

#team figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

#team figcaption h4 {
  margin: 0;
  padding: 0;
  color: #fff;
}
#team figcaption span:before {
  content: 'as ';
}

#team figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

#team div{
  margin-bottom:20px;
}