{% if page.lang == 'de' %}
    {% assign nameField = 'Vorname Name' %}
    {% assign messageField = 'Nachricht' %}
    {% assign title = 'Kontaktieren sie uns!' %}
{% endif %}
{% if page.lang == 'en' %}
    {% assign nameField = 'Name' %}
    {% assign messageField = 'Message' %}
    {% assign title = 'Contact us!' %}
{% endif %}
    <form id="contactform" method="POST">
        <h4>{{title}}</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" name="name" required="">
                <label for="name">{{nameField}}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="_replyto" required="">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="message" id="textarea1" class="materialize-textarea" required=""></textarea>
                <label for="textarea1">{{messageField}}</label>
            </div>
        </div>
        <input type="hidden" name="_subject" value="Website contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

<script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'lukasstrassel' + '@' + 'googlemail' + '.' + 'com');
</script>