<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title[page.lang] }}</h5>
        <p class="grey-text text-lighten-4">
          {{ site.description[page.lang] }}
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; Copyright e.Ray 2016 | Robert-Bosch-Straße 7 | 64293 Darmstadt | <a class="blue-text text-lighten-3" style="font-weight: bold;" href="{{ "/de/impressum" | prepend: site.baseurl }}">Impressum</a> | +49 (0) 157 / 70398064 | <a class="blue-text text-lighten-3" style="font-weight: bold;" href="#" id="mail"></a>
    </div>
    <script>
      var email =  document.getElementById('mail');
      email.innerHTML = 'lukasstrassel' + '@' + 'googlemail' + '.' + 'com';
      email.setAttribute('href', 'mailto:' + 'lukasstrassel' + '@' + 'googlemail' + '.' + 'com');
    </script>
  </div>
</footer>
<div class="fixed-action-btn hide hide-on-small-and-down" style="bottom: 45px; right: 24px;" id="topScroller">
  <a href="#top" class="btn-floating btn-large red">
    <i class="large material-icons"><i class="material-icons">keyboard_arrow_up</i></i>
  </a>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="{{ "/js/history.adapter.jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.min.js" | prepend: site.baseurl }}"></script>
{% if page.lang == 'de' %}
  <script src="{{ "/js/messages_de.js" | prepend: site.baseurl }}"></script>
{% endif %}
<script src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/init.js" | prepend: site.baseurl }}"></script>
